
@model LogUser
<div class="flex-container">
    
</div>
<h2>Login</h2>
<form action="/login" method="post">
    <div class="form-group">
        <span asp-validation-for="LogEmail"></span>
        <label asp-for="LogEmail"></label>
        <input asp-for="LogEmail">
    </div>
    <div class="form-group">
        <span asp-validation-for="LogPassword"></span>
        <label asp-for="LogPassword"></label>
        <input asp-for="LogPassword">
    </div>
    <div class="form-group">
        <input type="submit" value="Login">
    </div>
</form>