<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Hello!</title>
    </head>
    <body>
        <nav>
            @Html.ActionLink("Home", "Index", "Hello")&nbsp;|&nbsp;
            @Html.ActionLink("Projects", "Projects", "Hello")&nbsp;|&nbsp;
            @Html.ActionLink("Contact", "Contact", "Hello")
        </nav>
        <h1>Projects</h1>
        <div>
            <p>A list of projects: </p>
            <ul>
                <li>Project A...</li>
                <li>Project B...</li>
                <li>Project C...</li>
            </ul>
        </div>
    </body>
</html>