@model ProductViewModel
<head><link rel="stylesheet" href="~/css/style.css"></head>

<div class="row">
    <!-- Add a new product -->
  <div class="col-xs-6 col-md-3">
    <form asp-controller="Product" asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="NewProduct.Name"></label>
                <input asp-for="NewProduct.Name" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="NewProduct.Description"></label>
                <textarea asp-for="NewProduct.Description" class="form-control" cols="5" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="NewProduct.Quantity"></label>
                <input asp-for="NewProduct.Quantity" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="NewProduct.Image"></label>
                <input asp-for="NewProduct.Image" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
  </div>
  <!-- Display existing products -->
  <div class="col-md-6">
      @foreach (var prod in Model.Products)
        {
            <div class="card-columns">
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@prod.Image" alt="Card image cap">
                <div class="card-body"> 
                    <h5 class="card-title">@prod.Name</h5>
                    <p class="card-text">(@prod.Quantity left)</p>
                </div>
            </div>
        </div>
        }
  </div>
</div>

<div class="card-columns">
    
</div>