<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Time Display</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container">
            <h2>The current time and date:</h2>
            <div class="time-box">
                <p>@DateTime.Now.ToString("MMM dd, yyyy")</p>
                <p>@DateTime.Now.ToString("hh:mm tt")</p>
            </div>
        </div>
    </body>
</html>