@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Lost in the Woods</h1>
    <p>List of local hiking trails</p>
    <div>
        <form action="/addTrail">
            <p>Enter trail name: <input type="text" name="Name"></p>
            <input type="submit" value="Add trail">
        </form>
        <!-- viewbag for table headers -->
        <!-- loop trails here -->
    </div>
</div>