@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Lost in the Woods</h1>
    <p>List of local hiking trails</p>
    <div>
        <a href="/new">Add a new trail</a>
        <!-- viewbag for table headers -->
        <!-- loop trails here -->
    </div>
</div>