@model CustomerViewModel

<h1>Customers</h1>
<div class="new-customer">
    <!-- form to add new customer -->
    <form asp-controller="Customer" asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="NewCustomer.Name"></label>
            <input asp-for="NewCustomer.Name" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
<div class="customers">
    <!-- table of customers -->
</div>