@model User

<div asp-validation-summary="All"></div>
<form asp-controller="Home" asp-action="Create" method="post">
    <div class="form-group">
        <div class="form-row">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control">
        </div>
    </div>
    <button>Submit</button>
</form>